@model Biblioteka.Models.Zbior

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Zbior</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyDostepny)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.CzyDostepny)
            {
                <font color="green">Dostępny</font>
            }
            else
            {
                <font color="red">Nie dostępny</font>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zasob.Tytul)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Zasobs" asp-action="Details" asp-route-id="@Model.Zasob.Id">@Html.DisplayFor(model => model.Zasob.Tytul)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zasob.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zasob.ISBN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
