@model ZbiorsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zbiory</h1>

<p>
    <a asp-action="Create">Dodaj nowy zbiór</a>
</p>
<form asp-controller="Zbiors" asp-action="Index" method="get">
    <p>
        Nazwa: <input type="text" name="serachString" />
        Szukaj po
        <select name="szukanePole">
            <option selected="true" value="1">Tytuł</option>
            <option value="2">ISBN</option>
        </select><br />
        Sortowanie<br />
        A...Z <input type="radio" name="order" value="asc" checked="true" /><br />
        Z...A <input type="radio" name="order" value="dsc" /><br />
        <input type="submit" value="Szukaj" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zbiors.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zbiors.First().CzyDostepny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zbiors.First().Zasob.Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zbiors.First().Zasob.ISBN)
            </th>
            <th>
                Ilość wyporzyczeń
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zbiors) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                    @if (item.CzyDostepny)
                    {
                        <font color="green">Dostępny</font>
                    }
                    else
                    {
                        <font color="red">Nie dostępny</font>
                    }

            </td>
            <td>
                <a asp-controller="Zasobs" asp-action="Details" asp-route-id="@item.Zasob.Id">@Html.DisplayFor(modelItem => item.Zasob.Tytul)</a>
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Zasob.ISBN)
            </td>
                <td>
                    @Model.wyporzyczenies.Count(w => w.WyporzyczanyZbior==item)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
