@model IEnumerable<Biblioteka.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Liasta autorów zapisanych w bibliotece</h1>

<p>
    <a asp-action="Create">Dodaj Autora</a>
</p>
<form asp-controller="Autors" asp-action="Index" method="get">
    <p>
        Nazwa: <input type="text" name="serachString" /><br />
        Sortowanie<br />
        A...Z <input type="radio" name="order" value="asc" checked="true" /><br />
        Z...A <input type="radio" name="order" value="dsc" /><br />
        <input type="submit" value="Szukaj"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUrodzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSmierci)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUrodzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSmierci)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
