@using X.PagedList.Mvc.Core
@using X.PagedList;
@model AutorsViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Autorzy</h1>

<p>
    <a asp-action="Create">Dodaj Autora</a>
</p>
<form asp-controller="Autors" asp-action="Index" method="get">
    <p>
        Nazwa: <input type="text" name="serachString" /><br />
        Sortowanie<br />
        A...Z <input type="radio" name="order" value="asc" checked="true" /><br />
        Z...A <input type="radio" name="order" value="dsc" /><br />
        <input type="submit" value="Szukaj"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.autors.First().Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autors.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autors.First().DataUrodzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autors.First().DataSmierci)
            </th>
            <th>
                Liczba zasobów autora
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.autors)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUrodzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSmierci)
            </td>
                <td>
                    @Model.zasobs.Count(z => z.Autorzy.Any(a => a==item))
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center">
    @Html.PagedListPager(Model.autors, page => Url.Action("Index", new
    {
    page,
    nameSearchString = ViewContext.HttpContext.Request.Query["serachString"],
    order = ViewContext.HttpContext.Request.Query["order"]
    }))
</div>