@model Biblioteka.Models.Zasob

@{
    ViewData["Title"] = "Details";
}

<h1>Informacje o autorze</h1>

<div>
    <h4>Zasob</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autorzy)
        </dt>
        <dd class="col-sm-10">
            @foreach(var autor in Model.Autorzy)
            {
                <a asp-controller="Autors" asp-action="Details" asp-route-id="@autor.Id">@Html.DisplayFor(Model => autor.Nazwa)</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
