@model ZasobViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zasoby</h1>

<p>
    <a asp-action="Create">Dodaj nowy zasób</a>
</p>
<form asp-controller="Zasobs" asp-action="Index" method="get">
    <p>
        Nazwa: <input type="text" name="serachString"/> 
        Szukaj po <select name="szukanePole">
            <option selected="true" value="1">Tytuł</option>
            <option value="2">ISBN</option>
        </select><br />
        Sortowanie<br />
        A...Z <input type="radio" name="order" value="asc" checked="true" /><br />
        Z...A <input type="radio" name="order" value="dsc" /><br />
        <input type="submit" value="Szukaj" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.zasobs.First().Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zasobs.First().ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zasobs.First().Autorzy)
            </th>
            <th>
                Ilość egzemplarzy w bibliotece
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.zasobs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                    @if (item.Autorzy != null)
                    {
                        @foreach (var autor in item.Autorzy)
                        {
                            <a  asp-controller="Autors" asp-action="Details" asp-route-id="@autor.Id">@Html.DisplayFor(modelItem => autor.Nazwa)</a>
                        }
                    }
                    
            </td>
                <td>
                    @Model.zbiors.Count(z => z.Zasob==item)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
